.background-white{
    background: var(--color-white);
}

.background-light-gray{
    background: var(--color-light-gray)
}

.background-black{
    background: var(--color-background-black);
}

.background-gradient-bottom{
    background: linear-gradient(0deg, var(--color-light-yellow) 50%, var(--color-white) 50%);
}

.background-gradient-top{
    background: linear-gradient(180deg, var(--color-light-yellow) 50%, var(--color-white) 50%);
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1120px;
}

.container.md{
    max-width: 800px;
}

.container.sm{
    max-width: 400px;
}

.m-top1{
    margin-top: 10px;
}

.m-top2{
    margin-top: 20px;
}

.m-top3{
    margin-top: 30px;
}

.m-top4{
    margin-top: 40px;
}

.m-top5{
    margin-top: 50px;
}

.m-bottom1{
    margin-bottom: 10px;
}

.m-bottom2{
    margin-bottom: 20px;
}

.m-bottom3{
    margin-bottom: 30px;
}

.m-bottom4{
    margin-bottom: 40px;
}

.m-bottom5{
    margin-bottom: 50px;
}