:root{
    --color-white: #FFFFFF;
    --color-background-black: #131313;
    --color-black1: #263238;
    --color-black2: #000000;
    --color-yellow: #FFC100;
    --color-light-gray: #F3F3F3;
    --color-light-yellow: #FFFCF2;
}